.mobile {
  position: fixed;
  top: 4rem;
  right: 0;
  width: 10rem;
  height: max-content;
  padding: 1rem;
  background: var(--orangeCard);
  border-radius: 1rem;
  z-index: 20;
  font-size: 1.4rem;
  li {
    list-style: none;
    margin-top: 1rem;
  }
  .activeClass {
    color: var(--orange);
    font-weight: bold;
  }
}